brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
conda==23.1.0
conda-package-handling==2.0.2
conda_package_streaming==0.7.0
cryptography==40.0.1
idna==3.4
pip==23.0.1
pluggy==1.0.0
pycosat==0.6.4
pycparser==2.21
pyOpenSSL==23.1.1
PySocks==1.7.1
requests==2.28.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
setuptools==65.6.3
toolz==0.12.0
tqdm==4.65.0
urllib3==1.26.15
wheel==0.40.0
zstandard==0.19.0